<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add New Customer</h4>
            </div>

            <div class="modal-body">
                <form id="newCustomer" method="post" class="form-horizontal">
                    <div class="form-group col-md-6 col-lg-4">
                      <label for="sel1">Business Type</label>
                      <select class="form-control" id="sel1">
                        <option class="placeholder" value="" disabled selected>Select</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                      <label for="sel1">Business Category</label>
                      <select class="form-control" id="sel1">
                        <option class="placeholder" value="" disabled selected>Select</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                      <label for="sel1">Corporation Form</label>
                      <select class="form-control" id="sel1">
                        <option class="placeholder" value="" disabled selected>Select</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6 col-lg-6">
                      <label for="email">Name</label>
                      <input type="email" class="form-control" id="email">
                    </div>

                    <div class="form-group col-md-6 col-lg-6">
                      <label for="email">Contract LBE</label>
                      <input placeholder="optional" type="email" class="form-control" id="email">
                    </div>
                    <div class="form-title">
                      <h4>Business Info</h4>
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                      <label for="email">Street Address</label>
                      <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                      <label for="email">Street Address Cont.</label>
                      <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                      <label for="pwd">DUNS Number</label>
                      <input type="password" class="form-control" id="pwd">
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                      <label for="pwd">City </label>
                      <input type="password" class="form-control" id="pwd">
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                      <label for="sel1">State</label>
                      <select class="form-control" id="sel1">
                        <option class="placeholder" value="" disabled selected>Select</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                      <label for="pwd">SIC Code</label>
                      <input type="password" class="form-control" id="pwd">
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                      <label for="pwd">Zip Code </label>
                      <input type="password" class="form-control" id="pwd">
                    </div>

                    <div class="form-group col-md-6 col-lg-4">
                      <label for="pwd">Federal Tax ID</label>
                      <input type="password" class="form-control" id="pwd">
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                      <label for="pwd">Year Established</label>
                      <input type="password" class="form-control" id="pwd">
                    </div>

                    <div class="form-group">
                        <div class="col-xs-5 col-xs-offset-3">
                            <button type="submit" class="btn btn-primary">Login</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
